body {
	background: grey;
	color: #666;
	font-family: monospace;
}

h1 {
	font-size: 11px;
	color: #666;
	margin-bottom: 20px;
}


.seq-row {
	font-size: 0;
	cursor: pointer;
	white-space: nowrap;
}
.seq-row.inline {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
}
.seq-row span {
	display: inline-block;
	margin: 1px;
	width: 30px;
	height: 150px;
	border: 2px solid #222;
	border-radius: 5px;
	cursor: pointer;
}

.seq-row span.seq-note {
	border-color: #565;
}

.seq-row span.seq-playhead {
	border-color: #2255ff;
	box-shadow: 0 0 30px #2255ff;
}
.seq-row span:hover {
	border-color: #ff9900;
}

.channel {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #111;
	padding: 5px 10px;
}